<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
	<title>WatchedAnimes</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
	<link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css" />
	<link rel="stylesheet" href="css/style.css" />
	<script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
	<script>
		window.animes = <%- JSON.stringify(animes) %>;
	</script>
	<script src="js/script.js"></script>
</head>
<body>
	<div id="start-page" class="page move-center">
		<div class="judging-card mdl-card mdl-shadow--2dp">
			<div class="mdl-card__title"><h1>WatchedAnimes</h1></div>
			<div class="mdl-card__supporting-text">Q : Not yet<br />W : Watched<br />E : Undo</div>
			<div id="loading-progress-bar" class="mdl-progress mdl-js-progress"></div>
			<div class="mdl-card__actions mdl-card--border"><button id="start-button" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" disabled>Start</button></div>
		</div>
	</div>
	<div id="judging-page" class="page move-right"></div>
	<div id="result-page" class="page move-right"></div>
	<div id="judging-progress-bar" class="hide mdl-progress mdl-js-progress"></div>
	<button id="download-button" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" disabled><i class="material-icons">file_download</i></button>
</body>
</html>
