html, body {
	position: relative;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	word-break: break-all;
	background-color: #f5f5f5;
}

.move-right {
	left: 100%;
	transform: translateX(0%);
	transition-property: left, transform;
	transition-duration: 0.2s;
}
.move-center {
	left: 50%;
	transform: translateX(-50%);
	transition-property: left, transform;
	transition-duration: 0.2s;
}
.move-left {
	left: 0%;
	transform: translateX(-100%);
	transition-property: left, transform;
	transition-duration: 0.2s;
}

.page {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	overflow-x: hidden;
}

#loading-progress-bar {
	width: 100%;
	transform: scaleY(1.0);
	transition-property: transform;
	transition-duration: 0.2s;
	transition-timing-function: ease-out;
}
#loading-progress-bar.hide {
	transform: scaleY(0.0);
}

.judging-card-container {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

.judging-card {
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	margin: auto;
	width: 512px;
	max-width: 90%;
	min-height: 0;
	transform: translateY(-50%);
}

#judging-progress-bar {
	position: fixed;
	bottom: 0;
	width: 100%;
	transform: translateY(0%);
	transition-property: transform;
	transition-duration: 0.2s;
	transition-timing-function: ease-out;
}
#judging-progress-bar.hide {
	transform: translateY(100%);
}

#result-card {
	margin: 32px auto;
	width: 720px;
	max-width: 90%;
	min-height: 0;
}

#result-card h2, h3 {
	margin: 24px 24px 0 24px;
}

#result-card ul {
	margin: 0 16px;
}

#download-button {
	position: fixed;
	right: 5%;
	bottom: 5%;
	transform: translateY(0%);
	transition-property: bottom, transform;
	transition-duration: 0.2s;
	transition-timing-function: ease-out;
}
#download-button[disabled] {
	bottom: 0%;
	transform: translateY(100%);
}
